---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Zero2sixty commands'>
  <main class='container mx-auto px-8'>
    <div class='flex flex-wrap gap-4 items-center mt-24 text-'>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>bal</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          View your cash, keys, and other currencies
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
        '
      >
        <h4 class='text-center text-xl font-bold'>barn</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          Find a barn exclusive car using a barn map
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>blueprint</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          Use a blueprint to find an exclusive blueprint car, cash, etc
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>bot</h4>
        <p class='mt-2 text-[#b1b1b1]'>View the bots stats</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>buy</h4>
        <p class='mt-2 text-[#b1b1b1]'>Buy cars, parts, houses, and items</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>cashcup</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          Race in the cash cup, your cash rewards go up as you beat more
          opponents
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>charge</h4>
        <p class='mt-2 text-[#b1b1b1]'>Charge your electric cars</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>code</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          Redeem a code you found on Twitter, or Discord
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>crew</h4>
        <p class='mt-2 text-[#b1b1b1]'>View your crew</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>daily</h4>
        <p class='mt-2 text-[#b1b1b1]'>Redeem your daily reward</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>dealer</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          View the car dealership where you can buy cars from
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>drift</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          Drift in your cars for drift rank to help towards your prestige
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>editprofile</h4>
        <p class='mt-2 text-[#b1b1b1]'>Edit your profiles looks</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>events</h4>
        <p class='mt-2 text-[#b1b1b1]'>View the current events on the bot</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>fuse</h4>
        <p class='mt-2 text-[#b1b1b1]'>Fuse parts and items to make new ones</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>garage</h4>
        <p class='mt-2 text-[#b1b1b1]'>View your cars, parts, and items</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>gold</h4>
        <p class='mt-2 text-[#b1b1b1]'>View information about gold</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>help</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          View all the commands and their functions
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>house</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          View your houses, and the list of houses to buy
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>ids</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          Set car ids, favorites, and unset them
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>imports</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          View import crates for exclusive cars you can unbox
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>invite</h4>
        <p class='mt-2 text-[#b1b1b1]'>Get an invite for the bot</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>itemshop</h4>
        <p class='mt-2 text-[#b1b1b1]'>View the weekly item shop</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>junkyard</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          Get junkyard parts to repair barn finds
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>leaderstats</h4>
        <p class='mt-2 text-[#b1b1b1]'>View top users of the bot</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>livery</h4>
        <p class='mt-2 text-[#b1b1b1]'>Submit custom images for your cars</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>lockpick</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          Lockpick a garage to get some random cars and parts
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>market</h4>
        <p class='mt-2 text-[#b1b1b1]'>View the user based market</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>parts</h4>
        <p class='mt-2 text-[#b1b1b1]'>View parts store</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>pet</h4>
        <p class='mt-2 text-[#b1b1b1]'>View your pet and care for it</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>prestige</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          Prestige to the next rank, unlocking new features
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>profile</h4>
        <p class='mt-2 text-[#b1b1b1]'>View your public profile</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>pvp</h4>
        <p class='mt-2 text-[#b1b1b1]'>Race friends in PVP</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>race</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          Initiate a new race with the car specified
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>races</h4>
        <p class='mt-2 text-[#b1b1b1]'>View races and their rewards</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>rank</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          View your prestige, race rank and drift rank
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>referral</h4>
        <p class='mt-2 text-[#b1b1b1]'>Create or redeem a referral code</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>remove</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          Remove or uninstall parts from your car
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>restore</h4>
        <p class='mt-2 text-[#b1b1b1]'>Restore a barn find</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>rob</h4>
        <p class='mt-2 text-[#b1b1b1]'>Steal cash from another user</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>season</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          View the season pass where you can get free rewards
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>sell</h4>
        <p class='mt-2 text-[#b1b1b1]'>Sell cars, parts, and items</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>settings</h4>
        <p class='mt-2 text-[#b1b1b1]'>View your settings</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>showcase</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          Showcase a car, this will appear in your garage and your profile
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>squadrace</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          Race a squad, unlocking new tiers for cars
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>start</h4>
        <p class='mt-2 text-[#b1b1b1]'>Start your profile on the bot</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>stats</h4>
        <p class='mt-2 text-[#b1b1b1]'>View a car, part, or items stats</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>superwheelspin</h4>
        <p class='mt-2 text-[#b1b1b1]'>Spin a super wheel to get rewards</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>tasks</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          View your tasks to complete for rewards
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>timetrial</h4>
        <p class='mt-2 text-[#b1b1b1]'>Test your cars timing with laps</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>trade</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          Trade cars, parts, and items with other users
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>unbox</h4>
        <p class='mt-2 text-[#b1b1b1]'>Unbox an import crate</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>updates</h4>
        <p class='mt-2 text-[#b1b1b1]'>View new updates</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>upgrade</h4>
        <p class='mt-2 text-[#b1b1b1]'>Upgrade your car</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>use</h4>
        <p class='mt-2 text-[#b1b1b1]'>Use an item</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>usedcars</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          View the used cars store, refreshes weekly
        </p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>vote</h4>
        <p class='mt-2 text-[#b1b1b1]'>Vote for the bot to receive rewards</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>wheelspin</h4>
        <p class='mt-2 text-[#b1b1b1]'>Spin a wheel to get rewards</p>
      </div>
      <div
        class='command-card hover:border-[#60b0f4] ease-in duration-300 h-40 md:basis-[30%]'
      >
        <h4 class='text-center text-xl font-bold'>work</h4>
        <p class='mt-2 text-[#b1b1b1]'>
          Work to redeem rewards like cash and items
        </p>
      </div>
    </div>
  </main>
</Layout>
