---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Zero2sixty terms of service'>
  <div class='container mx-auto px-4'>
    <div class='tos'>
      <div class='toscontainer'>
        <h1>Terms Of Service</h1>
        <p>Effective May 9th 2023</p>
        <br />
        <p class='keypoints'>Introduction</p>
        <br />
        <p class='paragraph'>
          Welcome to Zero2Sixty, a service provided by Zero2Sixty Bots LLC. We
          &#x27;re pleased to have you on the track! These terms of service (the
          &quot;Terms of Service &quot;or &quot;Terms &quot;) are a binding
          contract between you and Zero2Sixty Bots LLC (referred to as
          &quot;Zero2Sixty Bots &quot;, the &quot;Company &quot;, &quot;we
          &quot;, &quot;us &quot;, or &quot;our &quot;). These Terms of Service
          describe the rules and conditions that govern your use of our
          website(s), product(s), bot(s), and related services (collectively,
          &quot;Zero2Sixty &quot;or the &quot;Services &quot;), and hereby
          incorporate our Privacy Policy located at
          https://zero2sixty.xyz/privacy (the &quot;Privacy Policy &quot;).
        </p>
        <br />
        <p>
          By accepting these Terms of Service, or using or accessing our
          Services, you agree (i) that you are 13 years of age, (ii) if you are
          the age of majority in your jurisdiction, that you have read,
          understood, and agree to be legally bound by these Terms and Privacy
          Policy, and (iii) if you are under the age of majority in your
          jurisdiction, that your legal guardian has reviewed and agreed to the
          Terms and Privacy Policy. If you object to any of these terms, please
          do not use the Services.
        </p>
        <br />
        <p class='keypoints'>Acceptable Use</p>
        <br />
        <p>
          The Services may only be used within the scope of what they are
          provided for, under these Terms and applicable law. By accessing the
          Services, you agree that you shall not use the Services in a manner
          that:
        </p>
        <br />
        <ul class='list'>
          <li>
            violates these Terms, or any applicable laws, regulations, or
            contractual agreements, including, when relevant, the Discord Terms
            of Service, which can be found at <a
              href='https://discord.com/terms'>https://discord.com/terms;</a
            >
          </li>
          <li>
            infringes on the intellectual property rights of any party
            (including Zero2Sixty);
          </li>
          <li>
            is threatening, harassing, defamatory, libelous, deceptive,
            fraudulent, malicious, obscene, or otherwise objectionable;
          </li>
          <li>
            jeopardizes the security of your or any other person &#x27;s account
            (such as exposing login credentials);
          </li>
          <li>
            attempts, in any manner, to obtain passwords, accounts, or other
            private information from other users;
          </li>
          <li>
            interferes or attempts to interrupt the proper operation of the
            Services;
          </li>
          <li>
            exploits or publicly informs other members of any error or bug which
            gives an unintended advantage;
          </li>
          <li>
            involves programs or operations designed to falsely resemble or
            impersonate the Services to deceive other users;
          </li>
          <li>
            involves the development, distribution, or use of unacceptable
            software programs (as listed below);
          </li>
          <li>
            involves the unapproved exchange of Virtual Currency or Virtual
            Goods (as defined below) outside the Services; or
          </li>
          <li>
            condones, benefits from, or is otherwise in connection with any
            person who violates these Terms.
          </li>
        </ul>
        <br />
        <p>
          We reserve the right to terminate or suspend your access to the
          Services immediately, without prior notice, and under our sole
          discretion, for any or no reason whatsoever, including, without
          limitation, a violation of any of the foregoing, any other behavior
          deemed a violation of the Terms of Service, or sufficient reason to
          believe you have willingly and knowingly supported or condoned
          behavior from another user that violated the Terms of Service.<br />
          <br />If you are unsure whether an action may violate the Terms of
          Service, please contact the Company for pre-approval.
        </p>
        <br />
        <p class='keypoints'>Acceptable Software Programs</p>
        <p>
          The Services are intended to be used by humans only. To ensure a fair
          and equitable experience for all users, you shall not develop,
          distribute, or use software programs that interact with the Services
          in a matter that:
        </p>
        <br />
        <br />
        <ul>
          <li>
            involves the automated use of the market systems (autosniping);
          </li>
          <li>involves the automated use of the race systems (autoracing)</li>
          <li>
            otherwise automates interations with the Services, including the use
            of &quot;selfbots &quot;and other &quot;auto &quot;programs.
          </li>
        </ul>
        <br />
        <p class='keypoints'>Virtual Currency and Virtual Goods</p>
        <p>
          The Services may include opportunities to obtain virtual currency
          including &quot;Z Cash &quot;and &quot;Gold &quot;(&quot;Virtual
          Currency &quot;) or virtual goods including &quot;Cars &quot;and
          &quot;Crates &quot;(&quot;Virtual Goods &quot;). Unless otherwise
          stated, such Virtual Currency and Virtual Goods are not tradable,
          exchangeable or redeemable against any traditional currency, any other
          digital currency, goods or any other values.
        </p>
        <br />
        <p>
          By purchasing or obtaining Virtual Currency or Virtual Goods, you
          acknowledge and agree that they may only be used within the Services
          for the purposes expressly authorized by the Company within the
          Services. You shall not transfer, purchase, sell, or exchange such
          Virtual Currency or Virtual Goods outside of the Services for value of
          any kind (&quot;crosstrading &quot;, &quot;third-party trading
          &quot;). Examples of unacceptable behavior include, but are not
          limited to:
        </p>
        <br />
        <ul>
          <li>
            the exchange of Virtual Currency or Virtual Goods for traditional
            currency, such as the U.S. Dollar;
          </li>
          <li>
            the exchange of Virtual Currency or Virtual Goods for
            cryptocurrency, such as Bitcoin or Ethereum;
          </li>
          <li>
            the exchange of Virtual Currency or Virtual Goods for any other
            paper or digital currency; and
          </li>
          <li>
            the exchange of Virtual Currency or Virtual Goods for currencies,
            goods, and other items within unapproved third-party services (as
            listed below), including, but not limited to, social media
            platforms, games, and other Discord bots.
          </li>
          <br />
        </ul>
        <ul>
          <li class='exception'>
            An exception to the foregoing rule shall be made in cases where
            Virtual Currency or Virtual Goods are compensated as an incentive
            for users to use Discord &#x27;s &quot;server boosting
            &quot;feature.
          </li>
        </ul>
        <br />
        <p>
          A violation of any of the foregoing may result in suspension of your
          access to the Services. The Company retains the right to modify,
          manage, control and/or eliminate Virtual Currency and/or Virtual Goods
          at its sole discretion.
        </p>
        <br />
        <p>
          Prices and availability of Virtual Goods are subject to change without
          notice. We shall have no liability to you or any third party for the
          exercise of such rights. In case of contract or account suspension for
          any cause attributable to you, any and all unused Virtual Currency and
          Virtual Goods shall be forfeited and no refund shall be granted.
        </p>
        <br />
        <p class='keypoints'>Terms and Conditions of Sale</p>
        <br />
        <p>
          While we will not charge you a fee to use the basic functionality of
          the Services, certain products and services on the Services are
          provided on the basis of payment (the &quot;Paid Services &quot;). The
          fees, duration and conditions applicable to the purchase of such Paid
          Services are described below and in the dedicated sections of the
          Services.
        </p>
        <br />
        <p class='subheading'>Product Descriptions</p>
        <br />
        <p>
          Prices, descriptions or availability of products are outlined in the
          respective sections of the Services and are subject to change without
          notice. While products on the Services are presented with the greatest
          accuracy technically possible, representation on the Services through
          any means (including graphic material, images, colors, and sounds) is
          for reference only and implies no warranty as to the characteristics
          of the purchased Product. The characteristics of the chosen Product
          will be outlined during the purchasing process.
        </p>
        <br />
        <p class='subheading'>Prices</p>
        <br />
        <p>
          Stated prices on the Services may not include sales and use taxes.
          However, users are informed during the purchasing process and before
          order submission, about any fees, taxes and costs that they will be
          charged. We have the right to charge you for any taxes that we are
          required to pay or in fact collect related to your purchase.
        </p>
        <br />
        <p class='subheading'>Billing</p>
        <br />
        <p>
          We use a third-party payment processor (the &quot;Payment Processor
          &quot;) to bill you through a payment account linked to your account
          on the Services (your &quot;Billing Account &quot;). The processing of
          payments will be subject to the terms, conditions and privacy policies
          of the Payment Processor in addition to these Terms. Currently, we use
          Tebex, Inc. as our Payment Processor. You can access Tebex &#x27;s
          Terms of Service at <a href='https://www.tebex.io/legal/aup'
            >https://www.tebex.io/legal/aup</a
          >
          and their Privacy Policy at <a
            href='https://www.tebex.io/legal/privacy'
            >https://www.tebex.io/legal/privacy</a
          >
          . We are not responsible for any error by, or other acts or omissions of,
          the Payment Processor.
        </p>
        <br />
        <p>
          WE DO NOT GUARANTEE ANY REFUNDS OR CREDITS FOR FEES ALREADY PAID FOR
          THE PAID SERVICES, INCLUDING, WITHOUT LIMITATION, IN THE EVENT OF YOUR
          TERMINATION OR CANCELLATION OF THE PAID SERVICES. WE MAY REFUSE A
          REFUND FOR ANY OR NO REASON WHATSOEVER, AT OUR SOLE DISCRETION. WE
          RESERVE THE RIGHT TO MODIFY OUR REFUND POLICY AT ANY TIME.
        </p>
        <br />
        <p class='keypoints'>Liability and Indemnification</p>
        <br />
        <p class='subheading'>Disclaimer of Warranty</p>
        <br />
        <p>
          THE SERVICES ARE PROVIDED ON AN &quot;AS IS &quot;BASIS, WITHOUT
          WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT
          LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
          PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT, OR THAT USE OF THE
          SERVICES WILL BE SECURE OR ERROR-FREE OR THAT THE SERVICES WILL ALWAYS
          FUNCTION WITHOUT DELAYS, DISRUPTIONS, OR IMPERFECTIONS. YOUR USE OF
          THE SERVICES IS AT YOUR SOLE RISK. THE FOREGOING DISCLAIMERS SHALL
          APPLY TO THE EXTENT PERMITTED BY APPLICABLE LAW.
        </p>
        <p class='subheading'>Limitation of Liability</p>
        <br />
        <p>
          TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, UNDER NO
          CIRCUMSTANCES SHALL THE COMPANY BE LIABLE TO YOU FOR ANY INDIRECT,
          INCIDENTAL, SPECIAL, PUNITIVE, EXEMPLARY, OR CONSEQUENTIAL DAMAGES,
          INCLUDING LOST PROFITS, LOSS OF DATA, OR GOODWILL, SERVICE
          INTERRUPTION, COMPUTER DAMAGE, OR SYSTEM FAILURE OR THE COST OF
          SUBSTITUTE SERVICES, ARISING OUT OF OR IN CONNECTION WITH THESE TERMS.
          IN NO EVENT WILL OUR TOTAL LIABILITY ARISING OUT OF OR IN CONNECTION
          WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SERVICES
          OR CONTENT EXCEED ONE HUNDRED UNITED STATES DOLLARS ($100).
        </p>
        <br />
        <p class='subheading'>Indemnification</p>
        <p>
          You agree to indemnify and hold the Company harmless from and against
          any and all claims, liabilities, damages (actual and consequential),
          losses and expenses (including attorney &#x27;s fees) arising from or
          in any way related to any claims relating to (i) your use of the
          Services (including any actions taken by a third party using your
          account), and (ii) your violation of these Terms.
        </p>
        <br />
        <p class='keypoints'>Miscellaneous</p>
        <br />
        <p class='subheading'>Service Interruption</p>
        <p>
          To ensure maximum performance and level of service, the Company
          reserves the right to interrupt the operation of the Services for
          maintenance at any time, informing users appropriately. The Company
          may also decide to terminate the Services altogether at any time. If
          the Services are terminated, the Company will cooperate with users to
          enable them to withdraw personal data in accordance with the law.<br
          />
          <br />Additionally, the Services may not be available due to reasons
          outside the Company &#x27;s reasonable control.
        </p>
        <br />
        <p class='subheading'>Changes to These Terms</p>
        <br />
        <p>
          The Company reserves the right to update these Terms of Service at any
          time. If our Terms change, we will post a notice on our site located
          at https://zero2sixty.xyz and/or notify you by email or other means.
          Unless we state otherwise, your continued use of the Services after we
          post modifications to the Terms constitutes your agreement to those
          changes. If you object to the changes, please do not continue using
          the Services.
        </p>
        <br />
        <p class='keypoints'>Contacting Us</p>
        <br />
        <p>
          In the case of any questions or concerns regarding these Terms of
          Service, please send a message to <a
            href='/cdn-cgi/l/email-protection'
            class='__cf_email__'
            data-cfemail='d4aeb1a6bbe6a7bdaca0adb6bba094b3b9b5bdb8fab7bbb9'
            >[email &#160;protected]</a
          >
          , and we will do our best to resolve your concerns.
        </p>
      </div>
    </div>
  </div>
</Layout>
